@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 6% 98%;
    --foreground: 24 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 24 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 4%;

    --primary: 174 84% 30%;
    --primary-foreground: 0 0% 100%;

    --secondary: 30 6% 94%;
    --secondary-foreground: 24 10% 10%;

    --muted: 30 6% 94%;
    --muted-foreground: 24 4% 46%;

    --accent: 174 84% 30%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 24 6% 89%;
    --input: 24 6% 89%;
    --ring: 174 84% 30%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

.print-force-new-page {
  page-break-before: always;
}

@media print {
  .badge {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  body {
    background: white !important;
  }
}
